# P Programing assingment 2

In [7]:
#Q1 KM to miles
def kmtm():
    a = float(input("enter value in km :"))
    b = 0.62137119
    d = a*b
    print(a, "Km is equal to", d, "miles")
kmtm()

enter value in km :15
15.0 Km is equal to 9.32056785 miles

In [10]:
#Q2 celsius to fahrenheit (0°C × 9/5) + 32 = 32°F
def ctf():
    a = float(input("enter value in celsius :"))
    d = (a * 9/5) + 32.0
    print(a, "degree celious is equal to", d, "fahrenheit")
ctf()

enter value in celsius :38
38.0 degree celious is equal to 100.4 fahrenheit

In [16]:
#Q4 program to display calendar
def cal():
    import calendar
    yy = int(input("enter year: "))
    mm = int(input("enter month: "))
    print (calendar.month(yy, mm))

cal()

enter year: 2014
enter month: 11
   November 2014
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [2]:
#Q4 program to solve quadratic equation ax**2+bx+c = 0
def quad():
    a = float(input("enter value of a :"))
    b = float(input("enter value of b :"))
    c = float(input("enter value of c :"))
    
    x1 = (-b+((b**2-4*a*c)**(1/2)))/(2*a)
    x2 = (-b-((b**2-4*a*c)**(1/2)))/(2*a)
    return(x1, x2)
quad()

enter value of a :2
enter value of b :1
enter value of c :1

((-0.24999999999999997+0.6614378277661477j),
 (-0.25000000000000006-0.6614378277661477j))

In [20]:
#Q6 Python program to swap two variables without temp variable
def swap():
    a = 10
    b = 20
    a, b = b, a
    print ("a=", a ,"b =", b)
    
swap()

a= 20 b = 10